
.card
{
    width: 700px;
    height: 450px;
    perspective: 1500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
}

.heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
}

.heading1 
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    text-align: center;
    color:#2085C8;
}
p 
{
    text-align: center;
    font-size: 24px;
}
p.abhira
{
    font-size: 30px;
}
.abhira {
    display: inline-block;

}
.blue {
    color: #2085C8;
}
.black {
    color: black;
}
@media (max-width: 952px)
{
    .card
    {
        width: 500px;
        height: 450px;
    }
}
@media (max-width: 858px)
{
    .card
    {
        width: 400px;
        height: 450px;
    }

}