

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 50px; 
    transform: translate(-50%, -50%);
    perspective: 1500px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 10px; 
    border: 4px solid rgba(5, 91, 36, 0.5); 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 5px 15px rgba(5, 91, 36, 0.5);
    display: flex;
}

img 
{
    width: 200px;
    height: 200px; 
}
@media (max-width: 952px)
{
    .card,
    img
    {
        width: 80px;
        height: 80px; 
    }

}
@media (max-width: 858px)
{
    .card,
    img
    {
        width: 70px;
        height: 70px; 
    }


}