.carousel
{
    height: 400px;
    width: 1000px;
	perspective: 1500px;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50px 50px 0 0;

}
.item,
.card 
{
    height: 400px;
    width: 1200px;
    margin: auto;
	background-color: transparent;
	border-radius: 50px 50px 0 0;
    border-bottom: 8px solid #2085C8; 
}
.img-area 
{
    height: 100%;
    width: 85%;
    background-size: cover;
    background-position: center center;
	background-color: transparent;
    border-radius: 50px 50px 0 0;
}

a.left.carousel-control
a.right.carousel-control 
{
    top: 50%;
    transform: translateY(-50%);
	color: rgb(255, 255, 255); 

}
@media (max-width: 952px)
{
    .carousel,
    .item,
    .card 
    {
        height: 300px;
        width: 800px;
    }

}
@media (max-width: 858px)
{
    .carousel,
    .item,
    .card 
    {
        height: 200px;
        width: 500px;
    }

}