body 
{
    display:flex;
    height: 100vh;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: Calibri;
}
/* Navigation style */
nav
{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  float: right;

}
.logo 
{
    width: 250px; 
    height: 100px; 
}
.nav-item 
{
    margin: 0 20px; 
}
.nav-link
{
    color:#2085C8;
    font-size: x-large;
}
/*Hover effect*/

.nav>li>a:focus, .nav>li>a:hover 
{
    background-color: #2085C8 !important;
    color: white;
}
/*Check btn*/
.checkbtn
{
    font-size: 30px;
    color:#2085C8;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check  /*Hide while during normal window screen*/
{
    display: none;
}
/* Mobile view or smaller screen size view */
@media (max-width: 952px)
{
    .logo 
    {
        width: 130px;
        height: 130px;
        margin: 0 auto;
    }
    .nav-item 
    {
        margin: 0 0px; 
    }
}
@media (max-width: 858px)
{
    .logo 
    {
        width: 200px; 
        height: 100px;
        margin-right: auto;
        margin-left: auto; 
        margin-bottom: 20px;
    }
    .checkbtn
    {
      display: flex;
    }
    nav
    {
        flex-direction: row; 
        align-items: center;
        margin-top: 20px; 
        padding: 0;
        font-size: large;
    }
    #check:not(:checked) ~ ul  {
        display: none; /* Hide the navigation items when not checked */
    }
    #check:checked ~ ul {

        align-items: right;
        background-color: white;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        position: fixed;
        top: 120px;
        left: auto;
        right: 10px;
        bottom: 0;
        padding-top: 20px;
        overflow-y: auto; 
        transition: all .5s; 
        z-index: 999; 
        width: 180px; 
        height: 300px; 

        
    }
    a.nav-link:hover,
    a.nav-link:active 
    {
        background: none;
        color: #2085C8;
    }

}