/*Login card*/
.card
{
    width: 350px;
    height: 450px;
    perspective: 1500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
}
#chk
{
    display:none;
}
#chk:checked ~ .content 
{
    animation: 2s animate;
    transform: rotateY(180deg);
}
@keyframes animate 
{
    0%
    {
        transform: translateZ(0px);
    }
    50%
    {
        transform: translateZ(100px);
    }
    100%
    {
        transform: rotateY(180deg)
    }
}
.content 
{
    width: 120%;
    height: 120%;
    transform-style: preserve-3d;
    box-shadow: 0 5px 15px rgba(25, 93, 37, 0.5);
    transition: transform 1s cubic-bezier(0.75, 0, 0.85, 1);
    border-radius: 8px;
}
.login-card, .signup-card 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(234, 251, 239);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    perspective: 1500px;
    border-radius: 8px;
}
.signup-card
{
    transform: rotateY(180deg);
}
.inner
{
    height: 100%;
    padding: 1.5em;
    transform: translateZ(80px) scale(1);
    align-items: center;
    justify-content: center;
    
}
h2
{
    position:absolute;
    margin-top: 40px;
    font-size: 35px;
    color: #000;
    font-weight: bolder;
    margin-left: 32%;
}
h2-01
{
    position:absolute;
    margin-top: -12%;
    font-size: 28px;
    color: #000;
    font-weight: bolder;
    margin-left: 32%;
    
}
p#notification
{
    font-size: 15px;
    padding:7px;
    line-height: 1.4em;
    text-align: center;
}
p#notification1
{
    font-size: 15px;
    padding:7px;
    line-height: 1.4em;
    text-align: center;
}
input[type=password1],
input[type=email1]
{
    width:95%;
    height:40px;
    margin: 8px 5px;
    padding: 15px;
    margin-bottom: 7%;
    box-sizing: border-box;
    color: #000;
    background-color: white;
    border:1px solid #ccc;;
    outline: none;
    border-radius: 4px;
}
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=date]
{
    width:95%;
    height:40px;
    margin: 8px 5px;
    padding: 15px;
    margin-bottom: 3%;
    box-sizing: border-box;
    color: #000;
    background-color: white;
    border:1px solid #ccc;;
    outline: none;
    border-radius: 4px;
}
.container-01
{
    margin-top: 30%;
}
.container-02
{
    margin-top: 20%;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=date]::placeholder
{
    color: #b5a1a1;
}
.login-card label
{
    padding: 8px 5px;
    margin: 130px 20px;
    font-size: 16px;
    color: rgb(25, 146, 63);
    float: right;
    cursor:pointer;
}
.login-card .fa
{
    position: fixed; 
    top: 38%; 
    transform: translateY(-50%); 
    right: 55px;
    cursor:pointer;
    font-size: small;
}
.signup-card .fa
{
    position: fixed; 
    top: 62%; 
    transform: translateY(-50%); 
    right: 55px;
    cursor:pointer;
    font-size: small;
}
.signup-card label
{
    position: absolute;
    bottom: 40px;
    width: 90%;
    font-size: 16px;
    text-align: center;
    color:  rgb(25, 146, 63);
    cursor: pointer;
}
.btn-primary 
{
    position: absolute;
    right: 38px;
    width: 82%;
    margin-top: auto;
    padding: 7px;
    color: #eee;
    background:  rgb(25, 146, 63);
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.login-card .btn-primary 
{
    bottom: 30%;
}
.signup-card .btn-primary
{
    bottom: 15%;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited
{
    background-color:  rgb(67, 210, 112);

}
@media (max-width: 952px)
{
    .card
    {
        width: 300px;
        height: 400px;
    }
    .signup-card .fa
    {
    top: 68%; 
    }
}
@media (max-width: 858px)
{
    .card
    {
        width: 300px;
        height: 400px;
    }
    .signup-card .fa
    {
    top: 68%; 
    }
}

