a
{
    width: 70%;
    background-color: rgb(25, 146, 63);
    color: white;
    padding: 5px;
    margin: 15px auto;
    border-radius: 4px;
    cursor:pointer;
    text-align: center;
    font-size: xx-large;
    display: block;
    margin-bottom: 10px; 
}
a:hover
{
    border-radius:5px;
    background-color: rgb(39, 194, 88);
    padding: 20px;
    color: white;
}
img
{
    display:block;
    margin-left: auto;
    margin-right:auto;
}
h2
{
    text-align: center;
    font-size: 350%;
    font-family: fantasy;
    margin-top: 5%;
    margin-bottom: 40px; 
}
.container
{
    max-width: 500px;
    max-height: 400px;
    margin-top: 10%;
    padding:20px;
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    justify-content: center;
}
body 
{
    background-image: url('../asset/bg1.svg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: Calibri;
}
.logo 
{
    width: 400px; 
    height: 300px; 
    position: absolute;
    left: 0; 
    top: 100px; 
    transform: translateY(-50%); 
}